<!DOCTYPE html>
<html>

<head>
    <title>TYP TITANS Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="style.css">
   <link href="fontawesome-free-5.13.0-web/css/all.css" rel="stylesheet">

</head>

<body id="mybody">
    <div id="navbar">
        <div id="brand-logo">
            <div id="typ-brand-box" class="typ-branding">TYP.</div>
            <div>TITANS</div>
        </div>

        <div id="profile-links">
          <div >
              <select id="dropbox"> 
                  <option class="dropdowncontent" >Select Options</option>
                  <option class="dropdowncontent" >Indore</option>
                  <option class="dropdowncontent" >Bhopal</option>
                  <option class="dropdowncontent" >Madras</option>
                  <option class="dropdowncontent" >Dewas</option>
                  <option class="dropdowncontent" >Ujjain</option>

                </select>
          </div>
                      
                      <div class="search-container">
                        <form>
                          <input id="searchBox" type="text" placeholder="Search.." name="search">
                          <button  type="submit"><i class="fas fa-search"></i></button>
                        </form>
                      </div>
        </div>

    </div>

    <div class="cardbody">        
        <div class="card">
            <img src="avatar1.png" class="cardimg" >
            <h1>Dhanshree</h1>
            <h4>SIRT</h4>
            <h4>Bhopal</h4>
            <button class="button1">View Profile</button>
          </div>
    
                  <div class="card">
                    <img src="avatar2.png" class="cardimg" >
                    <h1>Akshay Mandliya</h1>
                    <h4>Sage University</h4>
                    <h4>Indore</h4>
                    <button class="button1">View Profile</button>
                  </div>
    
                  <div class="card">
                    <img src="avatar1.png"  class="cardimg" >
                    <h1>Mahima Rao</h1>
                    <h4>IIT</h4>
                    <h4>Madras</h4>
                    <button class="button1">View Profile</button>
                  </div>
                  
            
                </div>
    
                <div class="cardbody">        
        <div class="card">
            <img src="avatar2.png" class="cardimg" >
            <h1>Gaurav Chouhan</h1>
            <h4>MediCaps</h4>
            <h4>Indore</h4>
            <button class="button1">View Profile</button>
          </div>
    
                  <div class="card">
                    <img src="avatar1.png" class="cardimg" >
                    <h1>Mahima shah</h1>
                    <h4>SDBC</h4>
                    <h4>Dewas</h4>
                    <button class="button1">View Profile</button>
                  </div>
    
                  <div class="card">
                    <img src="avatar2.png"  class="cardimg" >
                    <h1>Devansh</h1>
                    <h4>MIT</h4>
                    <h4>Ujjain</h4>
                    <button class="button1">View Profile</button>
                  </div>
    </div>
              
            </div>
          
        </div>

        <script>
        var baseServerURL = "http://localhost:8080/";
        function searchUsers(){
          var searchQuery = document.getElementById("serachBox").value;
          var searchURL = baseServerURL +"search?q=" + searchQuery;

          var promiseOfResult = fetch(searchURL);
          promiseOfResult.then(response =>{
            
           
          });
        }
</script>
</body>

</html>